/* index Styles Begins*/
/*Navbar Styles*/

a, a:hover {
    color: rgba(29, 28, 28, 0.65);
    font-weight: 800;
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(29, 28, 28, 0.65);
}
.navbar .navbar-inverse {
    border-style: hidden;
    border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-weight: 800;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 800;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-default {
    background-color: white;
    border-color: transparent;
    display: none;
    border-bottom-color: rgba(17, 213, 119, 0.69);
}
.tooltip-inner {
    min-width: 100px;
}
.navbar-default i {
    color: rgba(17, 213, 119, 0.69);
}
#navbar-search-input {
    margin-top: 2%;
}
#input-search-navbar {
    margin-left: -40%;
    width: 100%;
}
.icons-toggle {
    color: white;
    background-color: transparent;
    margin-top: 15%;
    border-color: transparent;
    outline: none;
}
.logo {
    width: 254px;
    height: 60px;
    margin-top: -4%
}
#home-nav-link {
    color: rgba(17, 213, 119, 0.69);
}

/*Footer Styles*/
#footer {
    height: 105px;
}
#footer-text {
    margin-top: 2%;
    margin-bottom: 2%;
}
/*Index Styles End*/
/*Section Styles*/

.index-background {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 110vh;
    margin-top: -7%;
}
.search-input {
    position: absolute;
    margin-bottom: 20%;
    top: 35%;
    left: 50%;
    margin-top: 0%;
    margin-left: -25%;
    width: 50%;
}
.thumbnail > img, .thumbnail a > img {
    width: 340px;
    height: 191px;
}
#form-search {
    margin-bottom: 0;
}
.section-background {
    max-width: 100%;
    width: 100vw;
    height: 100px;
    position: absolute;
    z-index: -1;
}
.requested-books {
    padding-top: 5%;
}
.slogan-section {
    padding-top: 1%;
    position: relative;
    color: white;
}

/*Log In Styles*/
.forgot-links {
    float: right;
}
#login-button {
    width: 100%;
    margin-bottom: 1%;
}
.margin-bottom {
    margin-top: 3%;
}
#log-form {
    margin-top: 5%;
    margin-bottom: 3.5%;
}
.ng-dirty.ng-invalid {
    border-color: red;
}
.login-logo {
    margin-bottom: 10%;
}
.login-alert{
    margin-top: 10%;
}
/*Forgot Password Styles*/
.forgot-password-btn {
    width: 100%;
    margin-top: 5%;
}
#forgot-pass-form {
    margin-bottom: 3.5%;
}
#forgot-pass-desc {
    text-align: justify;
}

/*Sign Up Styles*/
#signup-header {
    text-align: center;
    color: rgba(17, 213, 119, 0.69);
}
#signup-buttons {
    text-align: center;
}
.promo-signup {
    padding: 5%;
}

/* Boostrap overwrites */
/* btn success overwrite */
.btn {
    border-radius: 3px;
}
.btn-success {
    background-color: rgba(17, 213, 119, 0.69);
    border-color: rgba(17, 213, 119, 0.69);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: rgba(17, 213, 119, 0.79);
    border-color: rgba(17, 213, 119, 0.79);
}
.btn-info {
    background-color: rgba(29, 28, 28, 0.65);
    border-color: rgba(29, 28, 28, 0.65);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: rgba(29, 28, 28, 0.79);
    border-color: rgba(29, 28, 28, 0.79);
}

.img-thumbnail{
    border-radius: 3px;
}
/* navbar */
.label-success{
    background-color: rgba(17, 213, 119, 0.69);
    color: white;
}

/* navbar */
#primary-nav {
    background-color: white;
    border-bottom-color: rgba(17, 213, 119, 0.69);
    border-color: transparent;
}

/* home.html styles */
/* Home Sections */
.home-sections {
    margin-top: 12%;
}
.separate-sections {
    padding-top: 2%;
    padding-bottom: 2%;
}
.home-header {
    white-space: nowrap;
    font-size: 60px;
    color: white;
}
.home-subheader {
    color: whitesmoke;
    padding-bottom: 5%;
}
.anchor-btn:hover{
    font-weight: initial;
}

/* Sign up separator */
.button-text-separator {
    margin-left: 3%;
}

/* Footer Modifications */
.footer-links, .footer-links a {
    color: rgba(17, 213, 119, 0.69);
    font-weight: 800;
}
.footer-links:hover a {
    color: rgba(17, 213, 119, 0.69);
    text-decoration: none;
}
.footer-spacers {
    margin-right: 2%;
    margin-left: 2%;
    color: rgba(17, 213, 119, 0.69);
}
.info-top-space {
    margin-top: 1%;
}
.icon-space {
    margin-right: 2%;
}
.lighter-text {
    font-weight: lighter;
}

/* userProfile.css */
.image {
    padding-bottom: 10px;
}
.btn-margin {
    margin-bottom: 10px;
}
/* Sign up */

.header-image {
    width: 245px;
    height: 205px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-subheader-text {
    margin-top: 0;
    margin-bottom: 5%;
}
/*Add Book Styles*/
.add-book-buttons {
    text-align: center;
}
.add-book-search {
    margin-bottom: 30%;
    margin-top: 35%;
}
.add-book-result {
    margin-bottom: 20px;
}
.add-book-not-found-button{
    text-align: center;
    width: 100%;
}
.add-book-offer-form{
    margin-top: 5%;
    margin-bottom: 5%;
}
.add-book-result-image {
    width: 100%;
    height: 180px;
    margin-top: 5%;
    margin-bottom: 5%; 
}
.add-book-result-button{
    text-align: center;
    width: 100%;
    margin-top: 30%;
}
.add-book-result-information {
    margin-top: 5%;
}
.add-book-form {
    margin-top: 15%;
}
.panel-heading span{
    color: white;
}
.book-reviews-space{
    padding-top: 10%;
}
/*Cart Styles*/

.cart-item {
    border: 1px;
    border-color: rgba(17, 213, 119, 0.69);
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cart-total-price{
    font-weight: bold;
    text-align: left;
    margin-top: 5%;
}
.cart-item-image {
    width: 100%;
    height: 115px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.cart-item-checkbox {
    margin-top: 100px;
}
.cart-buttons {
    text-align: right;
}
.cart-item-info {
    font-size: medium;
}
.cart-item-price {
    text-align: center;
    font-weight: bold;
}
.cart-item-buttons {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.cart-item-information{
    margin-top: 20px;
}

/* Book Profile */
.book-profile-background {
    width: 100vw;
    height: 36vh;
    background-color: rgba(17, 213, 119, 0.69);
    margin-top: -2%;
}
.book-profile {
    color: white;
}
.book-profile img {
    margin-top: 6%;
    margin-bottom: 4%;
    width: 250px;
    height: 199px;
}
.book-options {
    margin-top: 2%;
    margin-bottom: 8%;
}

/* user profile */
.user-profile{
    color: white;
}
.user-profile img{
    margin-top: 6%;
    margin-bottom: 4%;
    width: 250px;
    height: 199px;
    padding:2%;
}
.user-profile-background{
    width: 100vw;
    height: 36vh;
    background-color: rgba(17, 213, 119, 0.69);
    margin-top: -2%;
}
.user-social{
    margin-top:65%;
}
.user-social i{
    color:white;
}
.user-social-space{
    margin-bottom: 32%;
}
.user-content-space{
    margin-top:1%;
}
.user-sections{
    margin-top:3%;
}
.user-contact{
    margin-top:8%;
}
.user-reviews-top-space{
    padding-top: 12%;
}

/* helpers */
#comment-panel{
    background-color: rgba(29, 28, 28, 0.65);
    color:white;
}
#footer-panel-with-button{
    background-color: rgba(29, 28, 28, 0.65);
    color:white;
    padding-bottom: 6%;
}
.book-profile-sections{
    padding-top: 8%;
}
.offer-label-top-space{
    margin-top: 0.5%;
}
.offer-footer-top-space{
    margin-top: 2%;
}
.btn-with-background{
    padding-bottom: 0.5%;
    background-color: rgba(57, 244, 155, 0.82);
    color:white;
}
.btn-with-background:hover{
    background-color: rgba(57, 244, 155, 0.88);
    color:white;
}
.label-with-background{
    background-color: rgba(57, 244, 155, 0.82);
}
.book-offers{
    margin-top: 4%;
}
.books-new-used {
    margin-top: 8%;
}

/* book autocomplete search results */
.autocomplete-results{
    padding-top: 2%;
}

/* user offers */
.user-offers-top-space{
    padding-top: 9%;
}


/* helpers */
.top-space{
    margin-top: 1%;
}
.bottom-space{
    margin-bottom: 1%;
}
.top-space-padding{
    padding-top: 1%;
}
.no-margin {
    margin: 0;
}
.no-margin-top {
    margin-top: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-right {
    margin-right: 0;
}
.center-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small-margin-bottom {
    margin-bottom: 2%;
}
textarea{
    resize:none;
}
.small-picture{
    height: 30px;
    width: 30px;
}
/*.image-subheader-text{
    margin-top:-2%;
    margin-bottom:1%; 
}*/
/* xs */

@media (min-width: 0px) and (max-width: 767px) {
    .home-header {
        white-space: initial;
        font-size: 30px;
    }
    .index-background {
        margin-top: -17%;
    }
    .home-subheader {
        font-size: 20px;
    }
    .search-input {
        top: 30%;
        width: 75%;
        left: 37%;
    }
    .logo {
        width: 200px;
        height: 50px;
        margin-top: -7%;
    }
    .home-sections {
        margin-top: 0;
    }
    .thumbnail-image {
        height: 191;
        width: 340;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .info-top-space {
        margin-top: 7%;
    }
    .footer-links {
        margin-top: 7%;
    }
}
/* sm */

@media (min-width: 768px) and (max-width: 991px) {
    .home-header {
        white-space: initial;
        font-size: 50px;
    }
    .index-background {
        margin-top: -12%;
    }
    .search-input {
        left: 37%;
        width: 70%;
    }
    .home-sections {
        margin-top: 0;
    }
}
/* md */

@media (min-width: 992px) and (max-width: 1199px) {
    .home-header {
        white-space: initial;
        font-size: 47px;
    }
    .index-background {
        margin-top: -10%;
    }
}
/* lg */

@media (min-width: 1200px) {
    .index-background {
        margin-top: -8%;
    }
}
