/* index Styles Begins*/
/*Navbar Styles*/

.navbar .navbar-inverse {
    border-style: hidden;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-weight: 800;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 800;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.74);
    border-color: transparent;
    display: none;
}
#navbar-search-input {
    margin-top: 2%;
}
#input-search-navbar {
    margin-left: -40%;
    width: 100%;
}
.icons-toggle {
    color: white;
    background-color: transparent;
    margin-top: 15%;
    border-color: transparent;
    outline: none;
}
.logo {
    width: 254px;
    height: 60px;
    margin-top: -4%
}
/*Footer Styles*/

#footer {
    height: 105px;
    background-color: rgba(0, 0, 0, 0.74);
    margin-top: 3%;
    margin-bottom: -2%;
}
#footer-text {
    margin-top: 3%;
}
/*Index Styles End*/
/*Section Styles*/

.index-background {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 102vh;
    margin-top: -7%;
}
.search-input {
    position: absolute;
    margin-bottom: 20%;
    top: 35%;
    left: 50%;
    margin-top: 0%;
    margin-left: -25%;
    width: 50%;
}
.thumbnail > img, .thumbnail a > img {
    width: 340px;
    height: 191px;
}
#form-search {
    margin-bottom: 0;
}
.section-background {
    max-width: 100%;
    width: 100vw;
    height: 100px;
    position: absolute;
    z-index: -1;
}
.requested-books {
    padding-top: 5%;
}
.slogan-section {
    padding-top: 1%;
    position: relative;
    color: white;
}
/*Log In Styles*/

.forgot-links {
    float: right;
}
#login-button {
    width: 100%;
    margin-top: 5%;
}
.margin-bottom {
    margin-top: 3%;
}
#log-form {
    margin-top: 5%;
    margin-bottom: 3.5%;
}
.ng-dirty.ng-invalid {
    border-color: red;
}
.login-logo {
    margin-bottom: 10%;
}
/*Forgot Password Styles*/

.forgot-password-btn {
    width: 100%;
    margin-top: 5%;
}
#forgot-pass-form {
    margin-bottom: 3.5%;
}
#forgot-pass-desc {
    text-align: justify;
}
/*Sign Up Styles*/

#signup-header {
    text-align: center;
    color: rgb(17, 213, 119);
}
#signup-buttons {
    text-align: center;
}

.promo-signup{
    padding:5%;
}

/* Boostrap overwrites */
/* btn success overwrite */
.btn{
    border-radius: 3px;
}
.btn-success{
    background-color: rgb(17, 213, 119);
    border-color: rgb(17, 213, 110);
}
.btn-success:hover{
    background-color: rgb(17, 213, 110);
    border-color: rgb(17, 213, 119);
}

/* home.html styles */
/* Home Sections */
.home-sections{
    margin-top: 12%;
}
.separate-sections{
    padding-top: 2%;
    padding-bottom: 2%;
}
.home-header{
    white-space: nowrap;
    font-size: 60px;
    color:white;
}
.home-subheader{
    color:whitesmoke;
    padding-bottom: 5%;
}

/* Sign up separator */
.button-text-separator{
    margin-left: 3%;
}

/* Footer Modifications */
.footer-links, .footer-links a{
    color: rgb(17, 213, 119);
    font-weight: 800;
}
.footer-links:hover a{
    color: rgb(17, 213, 119);
    text-decoration: none;
}
.footer-spacers{
    margin-right: 2%;
    margin-left: 2%;
    color:rgb(17, 213, 119);
}
.info-top-space{
    margin-top: 1%;
}
.icon-space{
    margin-right: 2%;
}

.lighter-text{
    font-weight: lighter;
}


/* userProfile.css */

.image{
    padding-bottom: 10px;
}

.btn-margin{
    margin-bottom: 10px;
}