/* index Styles Begins*/
/*Navbar Styles*/

.navbar.navbar-inverse {
    border-style: hidden;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-weight: 800;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 800;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.74);
    border-color: transparent;
    display: none;
}
#navbar-searchInput {
    margin-top: 2%;
}
#input-search-navbar {
    margin-left: -40%;
    width: 100%;
}
.iconsToggle {
    color: white;
    background-color: transparent;
    margin-top: 15%;
    border-color: transparent;
    outline: none;
}
.logo {
    width: 70%;
    height: 270%;
    margin-top: -3%
}
/*Footer Styles*/

#footer {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.74);
    margin-top: 3%;
    margin-bottom: -2%;
}
#footerText {
    margin-top: 3%;
}
a {
    color: rgb(17, 213, 119);
    font-weight: 800;
}
a:hover {
    color: rgb(17, 213, 119);
    text-decoration: none;
}
/*Index Styles End*/
/*Section Styles*/

.index-background {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 102vh;
    margin-top: -7%;
}
.searchInput {
    position: absolute;
    margin-bottom: 20%;
    top: 40%;
    left: 50%;
    margin-top: 0%;
    margin-left: -25%;
    width: 50%;
}
.thumbnail > img, .thumbnail a > img {
    width: 340px;
    height: 191px;
}
#form-search {
    margin-bottom: 0;
}
.section-background {
    max-width: 100%;
    width: 100vw;
    height: 100px;
    position: absolute;
    z-index: -1;
}
.requested-books {
    padding-top: 5%;
}
.slogan-section {
    padding-top: 1%;
    position: relative;
    color: white;
}
/*Log In Styles*/

#forgotLinks {
    float: right;
}
#logInButn {
    width: 100%;
    margin-top: 5%;
}
#marginBottom {
    margin-top: 3%;
}
#logForm {
    margin-top: 5%;
    margin-bottom: 3.5%;
}
.ng-dirty.ng-invalid {
    border-color: red;
}
#logInLogo {
    margin-bottom: 10%;
}
/*Forgot Password Styles*/

#forgotPasswordButn {
    width: 100%;
    margin-top: 5%;
}
#forgotPassForm {
    margin-bottom: 3.5%;
}
#forgotPassDescription {
    text-align: justify;
}
/*Sign Up Styles*/

#signUpHeader {
    text-align: center;
    color: rgb(17, 213, 119);
}
#signUpButtons {
    text-align: center;
}
