<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-1 col-md-8 image-about">

                <center>
                    <img src="../images/logo.png" id="brand-logo" class="image-about">

                </center>
            </div>
        </div>

        <div class="col-md-12 info-about">
            <div class="col-md-offset-1 col-md-10 text-about">
                <h1>What is BooksHub?</h1>
                <h3>BooksHub aims to simplify the search, purchase and sale of books to everyone. It is a simple to use platform, with an extensive database with the purpose of giving an excellent and efficiency search and at the same time being user friendly, involving the user as little as possible helping students better along the way!</h3>
            </div>
         

        </div>
	<div class="col-md-12">
		<div class="col-md-offset-6 col-md-6">
		
				<a href="#/contactus"><h3> Need more information? Contact Us!</h3></a>
		</div>


	</div>

    </div>

</div>
