<div ng-init="tab = 0"></div>

<div ng-show="tab===0">
    <br>
    <div class="letter">
        <center>
            <h1>Check if we have the Book!</h1>
        </center>
    </div>


    <div class="col-lg-4"></div>
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Search
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#">Title</a>
                        </li>
                        <li><a href="#">ISBN 10</a>
                        </li>
                        <li><a href="#">ISBN 13</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Author</a>
                        </li>
                    </ul>
                </div>
                <!-- /btn-group -->
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

<br>
<br>

    <div class="container">
        <form role="form">

            <div class="col-md-8" ng-show="tab === 1"></div>



            <form role="form">
                <div class="form-group col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" id="book_title" placeholder="Title">
                </div>
                <div class="form-group col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" id="book_isbn" placeholder="ISBN">
                </div>
                <div class="form-group col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" id="book_author" placeholder="Author">
                </div>


                <div class="form-group col-md-6 col-md-offset-3">
                    <input type="email" class="form-control" id="book_edition" placeholder="Edition">
                </div>

                <div class="form-group col-md-6 col-md-offset-3">
                    <input type="password" class="form-control" id="book_category" placeholder="Category(DropDown)">
                </div>


                <div class="form-group col-md-6 col-md-offset-3 text-center">
                    <button type="button" class="btn btn-info btn-lg">Sumbit</button>
                    <button type="button" class="btn btn-info btn-lg btn-margin">Clear</button>

                </div>

            </form>


    </div>


    </form>


</div>
