<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div ng-show="show.searchForm" class="add-book-search" id="add-book-search-form">
                <h1 class="text-center">Check if we have the Book!</h1>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchInput">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Search
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li>
                                    <a href="" ng-click="autoCompleteSearch('title')">
                                        Title
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="autoCompleteSearch('isbn_10')">
                                        ISBN 10
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="autoCompleteSearch('isbn_13')">
                                        ISBN 13
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="autoCompleteSearch('author')">
                                        Author
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="show.newForm" class="add-book-form">
            <div class="col-md-12">
                <h1 class="text-center">Add Your Book to Bookshub!</h1>
            </div>
            <div class="col-md-offset-3 col-md-6">
                <form role="form" ng-submit="submitNewBook()" name="bookForm">
                    <div class="form-group">
                        <label for="book_title">Title:</label>
                        <input type="text" class="form-control" id="book_title" placeholder="Title" ng-disabled="addedNewBook" ng-model="newBookForm.title" required>
                    </div>
                    <div class="form-group">
                        <label for="book_isbn_10">ISBN 10:</label>
                        <input type="number" class="form-control" id="book_isbn_10" placeholder="ISBN 10" ng-disabled="addedNewBook" ng-model="newBookForm.isbn_10" required>
                    </div>
                    <div class="form-group">
                        <label for="book_isbn_13">ISBN 13:</label>
                        <input type="number" class="form-control" id="book_isbn_13" placeholder="ISBN 13" ng-disabled="addedNewBook" ng-model="newBookForm.isbn_13" required>
                    </div>
                    <div class="form-group">
                        <label for="book_author">Author:</label>
                        <input type="text" class="form-control" id="book_author" placeholder="Author" ng-disabled="addedNewBook" ng-model="newBookForm.author" required>
                    </div>
                    <div class="form-group">
                        <label for="book_publisher">Publisher:</label>
                        <input type="text" class="form-control" id="book_publisher" placeholder="Publisher" ng-disabled="addedNewBook" ng-model="newBookForm.publisher" required>
                    </div>
                    <div class="col-md-6 form-shared-space">
                        <div class="form-group">
                            <label for="book_edition">Edition:</label>
                            <input type="text" class="form-control" id="book_edition" placeholder="Edition" ng-disabled="addedNewBook" ng-model="newBookForm.edition" required>
                        </div>
                    </div>
                    <div class="col-md-6 form-shared-space">
                        <div class="form-group">
                            <label for="book_category">Category:</label>
                            <select class="form-control" ng-model="newBookForm.category" id="book_category" ng-disabled="addedNewBook" ng-options="category.value as category.name for category in bookCategories" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="addedNewBook">
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Success!</strong>Your Book has been added successfully.
                        </div>
                    </div>
                    <div class="form-group add-book-buttons" ng-hide="addedNewBook">
                        <button type="submit" class="btn btn-success btn-lg">Add Book</button>
                        <button type="button" ng-click="clearNewBookForm()" class="btn btn-success btn-lg">Clear</button>
                    </div>
                </form>
            </div>
        </div>
        <div ng-show="show.newBookAndOfferForm" class="add-book-form">
            <div class="col-md-12">
                <h1 class="text-center">
                    Add Your Book to BooksHub
                </h1>
            </div>
            <div class="col-md-offset-3 col-md-6">
                <form role="form" ng-submit="submitBookAndCreateOffer()" name="bookForm">
                    <div class="form-group">
                        <label for="auto_title">Title:</label>
                        <input type="text" class="form-control" id="auto_title" placeholder="Title" ng-model="newBookForm.title" required>
                    </div>
                    <div class="form-group">
                        <label for="auto_isbn_10">ISBN 10:</label>
                        <input type="number" class="form-control" id="auto_isbn_10" placeholder="ISBN 10" ng-model="newBookForm.isbn_10" required>
                    </div>
                    <div class="form-group">
                        <label for="auto_isbn_13">ISBN 13:</label>
                        <input type="number" class="form-control" id="auto_isbn_13" placeholder="ISBN 13" ng-model="newBookForm.isbn_13" required>
                    </div>
                    <div class="form-group">
                        <label for="auto_author">Author:</label>
                        <input type="text" class="form-control" id="auto_author" placeholder="Author" ng-model="newBookForm.author" required>
                    </div>
                    <div class="form-group">
                        <label for="auto_publisher">Publisher:</label>
                        <input type="text" class="form-control" id="auto_publisher" placeholder="Publisher" ng-model="newBookForm.publisher" required>
                    </div>
                    <div class="col-md-6 form-shared-space">
                        <div class="form-group">
                            <label for="auto_edition">Edition:</label>
                            <input type="text" class="form-control" id="auto_edition" placeholder="Edition" ng-model="newBookForm.edition" required>
                        </div>
                    </div>
                    <div class="col-md-6 form-shared-space">
                        <div class="form-group">
                            <label for="book_category">Category:</label>
                            <select class="form-control" ng-model="newBookForm.category" id="book_category" ng-options="category.value as category.name for category in bookCategories" required></select>
                        </div>
                    </div>
                    <div class="form-group add-book-buttons">
                        <button type="submit" class="btn btn-success btn-lg">Add Book & Make Offer</button>
                        <button type="button" ng-click="clearNewBookForm()" class="btn btn-success btn-lg">Clear</button>
                    </div>
                </form>
            </div>
        </div>

        <div ng-show="show.result">
            <div class="col-md-offset-4 col-md-4">
                <div class="text-center">
                    <h3>The book did not appear?</h3>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-md btn-options" ng-click="notFound()">
                        Add the Book!
                    </button>

                    <a href="#/requested">
                        <button type="button" class="btn btn-danger btn-md btn-options">
                            Check the Requested Books!
                        </button>
                    </a>
                </div> 
            </div>
           
            <div class="col-md-12 autocomplete-results">
                <div class="panel panel-default">
                    <div class="panel-heading" id="comment-panel">
                        Search Results
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 add-book-result" ng-repeat="acr in autoCompleteResults.results">
                            <div class="col-md-3">
                                <img src="../images/hpbook.jpg" class="add-book-result-image">
                                <br>
                            </div>
                            <div class="col-md-3 add-book-result-information">
                                <label class="cart-item-info">Title:</label>{{acr.title}}
                                </br>
                                <label class="cart-item-info">ISBN 10:</label>{{acr.isbn_10}}
                                </br>
                                <label class="cart-item-info">ISBN 13:</label>{{acr.isbn_13}}
                            </div>
                            <div class="col-md-3 add-book-result-information">
                                <label class="cart-item-info">Author:</label>
                                <span ng-if="acr.id == null" ng-repeat="a in acr.author track by $index">
                                    {{a}}
                                </span>
                                <span ng-if="acr.id != null">
                                    {{acr.author}}
                                </span>
                                </br>
                                <label class="cart-item-info">Edition:</label>{{acr.edition}}
                                </br>
                                <label class="cart-item-info">Publisher:</label>{{acr.publisher}}
                            </div>
                            <div class="col-md-3">
                                <span ng-if="acr.id != null">
                                    <button type="button" ng-click="setBookIdOffer(acr.id)" class="btn btn-success btn-lg add-book-result-button">
                                        This is the Book!
                                    </button>
                                </span>
                                <span ng-if="acr.id == null">
                                    <button type="button" ng-click="addBookAndOffer($index)" class="btn btn-success btn-lg add-book-result-button">
                                        Add Book & Make Offer
                                    </button>
                                </span>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="show.offer" class="col-md-offset-3 col-md-6 add-book-offer-form">
            <h1 class="text-center">Make an Offer!</h1>
            <form role="form" ng-submit="submitOffer()" name="newOfferForm" class="add-book-offer-form">
                <div class="col-md-12">
                    <div class="col-md-4 form-shared-space">
                        <div class="form-group">
                            <label for="offer-price">Price:</label>
                            <input id="offer-price"type="number" class="form-control" ng-disabled="submittedOffer" placeholder="Price" ng-model="offerForm.price" required>
                        </div>
                    </div>
                    <div class="col-md-4 form-shared-space">
                        <div class="form-group">
                            <label for="offer-condition">Condition:</label>
                            <select id="offer-condition" class="form-control" ng-model="offerForm.condition" ng-disabled="submittedOffer" required ng-options="condition.value as condition.name for condition in conditions"></select>
                        </div>
                    </div>
                    <div class="col-md-4 form-shared-space">
                        <div class="form-group">
                            <label for="offer-quantity">Quantity:</label>
                            <input id="offer-quantity" type="number" class="form-control" placeholder="Quantity" ng-disabled="submittedOffer" ng-model="offerForm.quantity" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="offer-description">Description:</label>
                        <textarea id="offer-description" class="form-control" rows="4" placeholder="Description" ng-disabled="submittedOffer" ng-model="offerForm.description" required></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Upload Book Image:</label>
                        <input type="file" accept="image/*" ng-disabled="submittedOffer" id="offer-book-image-upload" required>
                    </div>
                </div>
                <div class="col-md-12" ng-show="submittedOffer">
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong>Your Offer has been added successfully.
                    </div>
                </div>
                <div class="col-md-12" ng-hide="submittedOffer">
                    <div class="form-group add-book-buttons">
                        <button type="submit" class="btn btn-success btn-lg">
                            Add Offer
                        </button>
                        <button type="button" ng-click="clearOfferForm()" class="btn btn-success btn-lg">
                            Clear
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
