<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>
                <h3>Title: Te como el culito</h3>
            </p>
            <img src="images/hpbook.jpg" alt="..." class="img-rounded">

        </div>

        <br>
        <br>
        <div class="container">
            <p>
                <h3>Author: J:K Rowlings</h3>
            </p>
            <p>
                <h3>ISBN:</h3>
            </p>
            <p>
                <h3>Rating: Hermionie Loves Carly</h3>
            </p>
            <p>
             <h3>Description:</h3>
                   </p>

        </div>



    </div>


</div>
