<section class="books-subheader"> 
    <div class="book-profile">    
        <div class="book-profile-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <img src="http://placehold.it/400x200" alt="..." class="img-thumbnail img-responsive books-picture">
                        </div>
                        <div class="col-md-9">
                            <h1 class="book-profile">{{bookInformation.title}}</h1>
                            <h3 class="book-profile">{{bookInformation.author}}</h3>
                            <h3 class="book-profile">{{bookInformation.isbn_10}}</h3>
                            <h3 class="book-profile">{{bookInformation.isbn_13}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="book-options">        
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showReview()">
                    {{bookReviews.count}} Reviews
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showNew()">
                    {{offerInformation.new}} New
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showUsed()">
                    {{offerInformation.used}} Used
                </button>
            </div>
        </div>

        <div class="col-md-12">
            <div ng-show="tabs.showReview">
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="text-center">Reviews</h1>
                </div>
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>           
                </div>
                <div class="book-reviews-space">
                    <div ng-repeat="r in bookReviews.results">
                        <div class="col-md-12">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                  <div class="panel-heading" id="comment-panel">
                                        <img src="http://placehold.it/400x200" class="img-rounded small-picture">
                                        <span>
                                            Reviewed by {{r.user}}
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            {{r.review}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div ng-show="tabs.showNew">
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="text-center">New Books</h1>
                </div>
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>           
                </div>
                <div class="col-md-12">
                    <div class="requested-books">
                        <ul class="list-unstyled">
                            <li class="col-md-4">

                                <a href="/" class="thumbnail">
                                    <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />
                                    <div class="caption">
                                        <h3>Book Title</h3>
                                        <span class="lighter-text">
                                            <p>ISBN:</p>
                                            <p>Price:</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <!--Remember to all types of col-->
                            <li class="col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/400x200" alt="..." height="200" width="400" />
                                    <div class="caption">
                                        <h3>Book Title</h3>
                                        <span class="lighter-text">
                                            <p>ISBN:</p>
                                            <p>Price:</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/400x200" alt="..." />
                                    <div class="caption">
                                        <h3>Book Title</h3>
                                        <span class="lighter-text">
                                            <p>ISBN:</p>
                                            <p>Price:</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/400x200" alt="..." />
                                    <div class="caption">
                                        <h3>Book Title</h3>
                                        <span class="lighter-text">
                                            <p>ISBN:</p>
                                            <p>Price:</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-12">
            <div ng-show="tabs.showUsed">
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="text-center">Used Books</h1>
                </div>
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>           
                </div>
                <div class="col-md-12">
                    <div class="requested-books">
                        <ul class="list-unstyled">
                            <li class="col-md-4">

                                <a href="/" class="thumbnail">
                                    <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />


                                    <div class="caption">
                                        <h3>Book Title</h3>
                                        <span class="lighter-text">
                                            <p>ISBN:</p>
                                            <p>Price:</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <!--Remember to all types of col-->
                            <li class="col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/400x200" alt="..." height="200" width="400" />
                                    <div class="caption">
                                        <h3>Book Title</h3>
                                        <span class="lighter-text">
                                            <p>ISBN:</p>
                                            <p>Price:</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/400x200" alt="..." />
                                    <div class="caption">
                                        <h3>Book Title</h3>
                                        <span class="lighter-text">
                                            <p>ISBN:</p>
                                            <p>Price:</p>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


