<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <form role="form" ng-submit="submit()" id="forgot-pass-form">
                <img src="../images/logo.png" class="login-logo">
                <div class="form-group">
                        <p id="forgot-pass-desc"><strong>
                            Forgot your Password? Enter your registered email account below and we will send you an email allowing you to reset it.
                        </strong></p>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="forgotPasswordForm.email" required>
                </div>
                <button type="submit" class="btn btn-success" class="forgot-password-btn">Reset Password</button>
            </form>
        </div>
    </div>
</div>
