<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Displays the brand logo on the navbar-->
            <a class="navbar-brand" href="#/">
                <img src="../images/logo.png" class="logo img-responsive">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--Manages the items in the right side of the second navbar-->
            <form class="navbar-form navbar-right" role="form">
                <ul class="nav navbar-nav">
                    <li ng-show="show">
                        <!--Displays the search input group when the search icon button is toggled-->
                        <div class="form-group" id="navbar-search-input">
                            <input type="text" class="form-control" placeholder="Search" id="input-search-navbar" ng-model="searchInput">
                            <div class="btn-group">
                                <button type="button" class="btn btn-with-background dropdown-toggle" data-toggle="dropdown" id="home-navbar-no-background">
                                    Search By
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="" ng-click="submitByTitle('title')">
                                        Title
                                      </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="submitByIsbn10('isbn_10')">
                                        ISBN 10
                                      </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="submitByIsbn13('isbn_13')">
                                        ISBN 13
                                      </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="submitByAuthor('author')">
                                        Author
                                      </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!--Icon button that when toggled shows the search input group-->
                        <a href="" ng-click="show = ! show">
                            <i class="fa fa-search fa-lg" data-toggle="tooltip" title="Search Now!"></i>
                        </a>
                    </li>
                    <li ng-show="isAuthenticated">
                        <a href="#/book">
                            <i class="fa fa-plus fa-lg" data-toggle="tooltip" title="Add Book"></i>
                        </a>
                    </li>
                    <li ng-show="isAuthenticated">
                        <a href="#/cart">
                            <i class="fa fa-shopping-cart fa-lg" data-toggle="tooltip" title="View Cart"></i>
                        </a>
                    </li>
                    <li ng-show="isAuthenticated">
                        <a href="#/user-profile">
                            <i class="fa fa-user fa-lg" data-toggle="tooltip" title="User Profile"></i>
                        </a>
                    </li>
                    <li ng-show="isAuthenticated">
                        <a href="#/settings">
                            <i class="fa fa-cog fa-lg" data-toggle="tooltip" title="Settings"></i>
                        </a>
                    </li>
                    <!--Log in and Sign Up links-->
                    <li ng-hide="isAuthenticated">
                        <a href="#/login" id="home-nav-link">Log In</a>
                    </li>
                    <li ng-hide="isAuthenticated">
                        <a href="#/sign-up" id="home-nav-link">Sign Up</a>
                    </li>
                    <li ng-show="isAuthenticated">
                        <a href="" ng-click="logOut()">Log Out</a>
                    </li>
                </ul>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Background Image for the Search Section-->
<img src="../images/92.jpg" class="index-background">
<form class="form-group" role="form" id="form-search">
    <div class="container">
        <div class="row">
            <div class="search-input text-center">
                <h1 class="home-header">
                    Welcome to BooksHub
                </h1>
                <h2 class="lighter-text home-subheader">
                    Search your books easier!
                </h2>
                <!--Input Group that manages the data to be searched-->
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchInput">
                    <span class="input-group-btn">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Search By
                                <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" ng-click="searchBy('title')">
                                    Title
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="searchBy('isbn_10')">
                                    ISBN 10
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="searchBy('isbn_13')">
                                    ISBN 13
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="searchBy('author')">
                                    Author
                            </a>
                        </li>
                    </ul>
                </div>
                </span>
            </div>
            <!-- /input-group -->
            <!-- /.col-lg-6 -->
        </div>
    </div>
    </div>
</form>

<!-- Sign up section -->
<div class="container">
    <div class="row promo-signup">
        <div class="text-center">
            <div class="col-md-12">
                <div>
                    <h2>Get started selling your books today.</h2>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <a href="#/sign-up" class="btn btn-success btn-lg anchor-btn">Sign up</a>
                    <span class="button-text-separator lighter-text">It's free</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Search Section Ends-->
<!--Resquested Books Section Begins-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="home-sections">
                    <hr>
                </div>
            </div>
            <div class="col-md-4">
                <h1 class="text-center">
                    Requested Books
                </h1>
            </div>
            <div class="col-md-4">
                <div class="home-sections">
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="requested-books">
                <ul class="list-unstyled">
                    <li class="col-md-4 col-sm-6 panel-bottom-space" ng-repeat="rb in topRequestedBooks.results">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://placehold.it/400x200" alt="..." class="thumbnail-image img-responsive" />
                                <h3>{{rb.title}}</h3>
                                <span class="lighter-text">
                                    <p>ISBN 10: {{rb.isbn_10}} </p>
                                    <p>ISBN 13: {{rb.isbn_13}}</p>
                                </span>
                            </div>
                            <div class="panel-footer" id="footer-panel-with-button">
                                <div class="offer-footer-top-space">
                                    <span>
                                        Users looking for this book: 
                                        <span class="label label-with-background">
                                            {{rb.count}}
                                        </span>
                                    </span>
                                    <span>
                                        <button class="btn btn-with-background pull-right footer-button">
                                            Request it
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sign up section -->
<div class="container">
    <hr>
    <div class="row promo-signup">
        <div class="text-center">
            <div class="col-md-12">
                <div>
                    <h2>Get starter selling you books today.</h2>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <a href="#/sign-up" class="btn btn-success btn-lg anchor-btn">
                        Sign Up
                    </a>
                    <span class="button-text-separator lighter-text">It's free</span>
                </div>
            </div>
        </div>
    </div>
</div>
