<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Displays the brand logo on the navbar-->
            <a class="navbar-brand" href="#/">
                <img src="../images/logo.png" class="logo img-responsive">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--Manages the items in the right side of the second navbar-->
            <form class="navbar-form navbar-right" role="form">
                <ul class="nav navbar-nav">
                    <li ng-show="show">
                        <!--Displays the search input group when the search icon button is toggled-->
                        <div class="form-group" id="navbar-search-input">
                            <input type="text" class="form-control" placeholder="Search" id="input-search-navbar" ng-model="searchInput">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                    Search By
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                      <a href="" ng-click="submitByTitle('title')">
                                        Title
                                      </a>
                                    </li>
                                    <li>
                                      <a href="" ng-click="submitByIsbn10('isbn_10')">
                                        ISBN 10
                                      </a>
                                    </li>
                                    <li>
                                      <a href="" ng-click="submitByIsbn13('isbn_13')">
                                        ISBN 13
                                      </a>
                                    </li>
                                    <li>
                                      <a href="" ng-click="submitByAuthor('author')">
                                        Author
                                      </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!--Icon button that when toggled shows the search input group-->
                        <a href="" ng-click="show = ! show" data-toggle="tooltip" data-placement="bottom" title="Click me to Search!">
                          <i class="fa fa-search fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/book">
                          <i class="fa fa-plus fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/cart">
                          <i class="fa fa-shopping-cart fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/user-profile"><i class="fa fa-user fa-lg"></i>
                                </a>
                    </li>
                    <li>
                        <a href="#/">
                          <i class="fa fa-cog fa-lg"></i>
                        </a>
                    </li>
                    <!--Log in and Sign Up links-->
                    <li>
                      <a href="#/login" id="home-nav-link">Log In</a>
                    </li>
                    <li>
                      <a href="#/sign-up" id="home-nav-link">Sign Up</a>
                    </li>
                </ul>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Background Image for the Search Section-->
<img src="../images/92.jpg" class="index-background">
<form class="form-group" role="form" id="form-search">
    <div class="container">
        <div class="row">
            <div class="search-input text-center">
                <h1 class="home-header">
                    Welcome to BooksHub
                </h1>
                <h2 class="lighter-text home-subheader">
                    Search your books easier!
                </h2>
                <!--Input Group that manages the data to be searched-->
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchInput">
                    <span class="input-group-btn">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Search By
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                  <a href="" ng-click="searchBy('title')">
                                    Title
                                  </a>
                                </li>
                                <li>
                                  <a href="" ng-click="searchBy('isbn_10')">
                                    ISBN 10
                                  </a>
                                </li>
                                <li>
                                  <a href="" ng-click="searchBy('isbn_13')">
                                    ISBN 13
                                  </a>
                                </li>
                                <li>
                                  <a href="" ng-click="searchBy('author')">
                                    Author
                                  </a>
                                </li>
                            </ul>
                        </div>
                    </span>
                </div>
                <!-- /input-group -->
                <!-- /.col-lg-6 -->
            </div>
        </div>
    </div>
</form>

<!-- Sign up section -->
<div class="container">
    <div class="row promo-signup">
        <div class="text-center">
            <div class="col-md-12">
                <div>
                    <h2>Get started selling your books today.</h2>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <a href="#/sign-up" class="btn btn-success btn-lg anchor-btn">Sign up</a>
                    <span class="button-text-separator lighter-text">It's free</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Search Section Ends-->
<!--Resquested Books Section Begins-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="home-sections">
                    <hr>
                </div>
            </div>
            <div class="col-md-4">
                <h1 class="text-center">
                    Requested Books
                </h1>
            </div>
            <div class="col-md-4">
                <div class="home-sections">
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="requested-books">
                <ul class="list-unstyled">
                    <li class="col-md-4 col-sm-6" ng-repeat="rb in topRequestedBooks.results">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="http://placehold.it/400x200" alt="..." class="thumbnail-image"/>
                            </a>
                            <div class="caption">
                                <h3>{{rb.title}}</h3>
                                <span class="lighter-text">
                                    <p>ISBN 10: {{rb.isbn_10}} </p>
                                    <p>ISBN 13: {{rb.isbn_13}}</p>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Requested Books Section Ends-->
<!--Top Sellers Section Begins-->
<!--
    <div class="container separate-sections">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="text-center">
                        Top Sellers
                    </h1>
                </div>
                <div class="col-md-4">
                    <div class="home-sections">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="requested-books">
                    <ul class="list-unstyled">
                        <li class="col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="http://placehold.it/400x200" alt="..." class="thumbnail-image"/>
                                </a>
                                <div class="caption">
                                    <h3>Book Title</h3>
                                    <span class="lighter-text">
                                        <p>ISBN:</p>
                                        <p>Price:</p>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="http://placehold.it/400x200" alt="..." class="thumbnail-image"/>
                                </a>
                                <div class="caption">
                                    <h3>Book Title</h3>
                                    <span class="lighter-text">
                                        <p>ISBN:</p>
                                        <p>Price:</p>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="http://placehold.it/400x200" alt="..." class="thumbnail-image"/>
                                </a>
                                <div class="caption">
                                    <h3>Book Title</h3>
                                    <span class="lighter-text">
                                        <p>ISBN:</p>
                                        <p>Price:</p>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4 col-sm-6">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="http://placehold.it/400x200" alt="..." class="thumbnail-image"/>
                                </a>
                                <div class="caption">
                                    <h3>Book Title</h3>
                                    <span class="lighter-text">
                                        <p>ISBN:</p>
                                        <p>Price:</p>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
-->

<!--Top Sellers Section Ends-->
<!--Recomendations Section Begins-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="home-sections">
                    <hr>
                </div>
            </div>
            <div class="col-md-4">
                <h1 class="text-center">
                    Recommendations
                </h1>
            </div>
            <div class="col-md-4">
                <div class="home-sections">
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="topRecommendedBooks">
            <div class="requested-books">
                <ul class="list-unstyled">
                    <li class="col-md-4 col-xs-4 col-sm-6" ng-repeat="tr in topRecommendedBooks.results">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="http://placehold.it/400x200" alt="..." class="thumbnail-image"/>
                            </a>
                            <div class="caption">
                                <h3>{{tr.title}}</h3>
                                <span class="lighter-text">
                                    <p>{{tr.author}}</p>
                                    <p>ISBN 10: {{tr.isbn_10}}</p>
                                    <p>ISBN 13: {{tr.isbn_13}}</p>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Recomendations Section Ends-->

<!-- Sign up section -->
<div class="container">
    <hr>
    <div class="row promo-signup">
        <div class="text-center">
            <div class="col-md-12">
                <div>
                    <h2>Get starter selling you books today.</h2>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <a href="#/sign-up" class="btn btn-success btn-lg anchor-btn">
                        Sign Up
                    </a>
                    <span class="button-text-separator lighter-text">It's free</span>
                </div>
            </div>
        </div>
    </div>
</div>
