<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <form role="form" ng-submit="submit()" id="logForm">
                <img src="../images/logo.png" id="logInLogo">
                <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="logInForm.email" required>
                </div>
                <div class="form-group">
                    <p>
                        <label for="exampleInputPassword1">Password</label>
                        <a href="#/forgotPassword" id="forgotLinks">Forgot Password?</a>
                    </p>
                    <input type="password" class="form-control" placeholder="Password" ng-model="logInForm.password" required>
                </div>
                <button type="submit" class="btn btn-success" id="logInButn">Log In</button>
                <p id="marginBottom">
                    <label>Don't Have an Account?</label>
                    <a href="#/signUp" id="forgotLinks">Sign Up!</a>
                </p>
            </form>
        </div>
    </div>
</div>
