<div ng-init="tab = 0"></div>
<div ng-show="tab===0">
    <br>
    <div class="letter">
        <h1>
            <center>
                <h1>First step to join BooksHub!</h1>
                  <a href="#/"><h4>Or just Search!</h4></a>
            </center>
        </h1>
    </div>
    <br>

    <div class="container">
        <div class="col-md-6" ng-show="tab === 1"></div>



        <form role="form">


            <br>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="basicForm.username">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="basicForm.firstName">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="basicForm.lastName">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="basicForm.email">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="basicForm.password">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="password" class="form-control" id="retypepassword" placeholder="Retype Password" ng-model="basicForm.retypedPassword">
            </div>

            <div class="form-group col-md-6 col-md-offset-3 text-center">
                    <button type="button" class="btn btn-success btn-lg" ng-click="tab=1">User</button>
                    <button type="button" class="btn btn-success btn-lg btn-margin" ng-click="tab=2">Student</button>
            </div>

        </form>


    </div>

</div>
<!-- SignUp = Tab = 0 -->

</div>
<!-- Original SignUp-->


<!-- Second Part of Form (Student)-->

<div ng-show="tab===2">
    <br>
    <div class="letter">
        <center>
            <h1>Finish your Profile or get Searching!</h1>
                 <a href="#/"><h4>Or just Search!</h4></a>
        </center>
    </div>


    <div class="container">
        <div class="col-md-6" ng-show="tab === 1"></div>



        <form role="form">
           
            <br>

            <!-- ONLY FOR USER & STUDENTS-->
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="city" placeholder="City" ng-model="studentForm.city">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="state" placeholder="State" ng-model="studentForm.state">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="zipcode" placeholder="ZipCode" ng-model="studentForm.zipcode">
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="facebook_url" placeholder="Facebook" ng-model="studentForm.facebook">
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="twitter_url" placeholder="@Twitter" ng-model="studentForm.twitter">
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="google_url" placeholder="Google ID" ng-model="studentForm.googleId">
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="gravatar_url" placeholder="Gravatar" ng-model="studentForm.gravatar">
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="institution" placeholder="Institution" ng-model="studentForm.institution">
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" id="department" placeholder="Department" ng-model="studentForm.department">
            </div>

            <div class="form-group col-md-6 col-md-offset-3 text-center">
                <a href="/">
                    <button type="button" class="btn btn-success btn-lg" ng-click="submit()">Finish Up</button>
                </a>
                <a href="/">
                    <button type="button" class="btn btn-success btn-lg btn-margin" ng-click="tab = 0">Lets Search</button>
                </a>

            </div>
        </form>

    </div>

</div>
<!-- Finish-->


<!-- Second Part of Form (User)-->

<div ng-show="tab===1">
    <div class="letter">
    <center>
        <h1>Finish your Profile or get Searching!</h1>
             <a href="/"><h4>Or just Search!</h4></a>
        </center>
    </div>

    <p>

    




            <div class="col-md-8" ng-show="tab === 1"></div>
            

                <div class="container">
                <form role="form">
                
                    <br>

                    <!-- ONLY FOR USER & STUDENTS-->

                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="userForm.title">
                    </div>
                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="city" placeholder="City" ng-model="userForm.city">
                    </div>
                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="state" placeholder="State" ng-model="userForm.state">
                    </div>
                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="zipcode" placeholder="ZipCode" ng-model="userForm.zipCode">
                    </div>

                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="facebook_url" placeholder="Facebook" ng-model="userForm.facebook">
                    </div>
                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="twitter_url" placeholder="@Twitter" ng-model="userForm.twitter">
                    </div>

                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="google_url" placeholder="Google ID" ng-model="userForm.googleId">
                    </div>

                    <div class="form-group col-md-6 col-md-offset-3">
                        <input type="text" class="form-control" id="gravatar_url" placeholder="Gravatar" ng-model="userForm.gravatar">
                    </div>



                    <div class="form-group col-md-6 col-md-offset-3 text-center">
                         <button type="button" class="btn btn-success btn-lg" ng-click="submit()">Finish Up</button>
                         <a href="/"><button type="button" class="btn btn-success btn-lg btn-margin" ng-click="tab = 0">Lets Search</button></a>

                    </div>

                </form>


            </div>


</div>




</form>


</div>


</form>

</p>

</div>




<!-- Finish-->


<!-- Additional Part of Form (User, Student and Company)-->
<div ng-show="tab === 4">
    <form role="form">

        <br>

        <!-- ONLY FOR USER & STUDENTS-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="city" placeholder="City">
        </div>
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="state" placeholder="State">
        </div>
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="zipcode" placeholder="ZipCode">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="facebook_url" placeholder="Facebook">
        </div>
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="twitter_url" placeholder="@Twitter">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="google_url" placeholder="Google ID">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="gravatar_url" placeholder="Gravatar">
        </div>

        <!-- FINISH -->

        <!-- ONLY FOR USER-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <!-- FINISH -->



        <!-- ONLY FOR STUDENT-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="institution" placeholder="Institution">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Department">
        </div>
        <!-- FINISH -->

        <!-- ONLY FOR COMPANY-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="institution" placeholder="Institution">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Department">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Description">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Logo">
        </div>


        <!-- FINISH -->




        <div class="form-group col-sm-12 form-horizontal">
            <button type="button" class="btn btn-success btn-lg">User</button>
            <button type="button" class="btn btn-success btn-lg btn-margin">Student</button>
            <button type="button" class="btn btn-success btn-lg" ng-click="tab=1">Company</button>

        </div>

    </form>

</div>
