<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-2 col-md-8 info-request">
                <h1>See All the Requested Books by our Users</h1>

            </div>
        </div>


<!--  <div ng-show="show.searchForm" class="add-book-search" id="add-book-search-form">  </div>-->
        <div class="col-md-12">
            <div class="col-md-offset-3 col-md-6 info-request">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchInput">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Search
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="" ng-click="autoCompleteSearch('title')">
                                        Title
                                    </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="autoCompleteSearch('isbn_10')">
                                        ISBN 10
                                    </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="autoCompleteSearch('isbn_13')">
                                        ISBN 13
                                    </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="autoCompleteSearch('author')">
                                        Author
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
              
            </div>
        </div>


        
            <div class="col-md-12">
                <div class="requested-books">
                    <ul class="list-unstyled" ng-repeat="o in offers.results">
                        <span ng-if="o.condition == 'new'">
                            <li class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <a href="/">
                                            <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />
                                        </a>
                                        <div>
                                            <h3>{{o.metadata.book.title}}</h3>
                                            <span class="lighter-text">
                                                <p>ISBN 10: {{o.metadata.book.isbn_10}}</p>
                                                <p>ISBN 13: {{o.metadata.book.isbn_13}}</p>
                                            </span>
                                            <h4>{{o.metadata.book.author}}</h4>
                                        </div>
                                    </div>
                                    <div class="panel-footer" id="comment-panel">
                                        Price:
                                        <span class="label label-with-background">
                                            ${{o.price}}
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </span>
                    </ul>
                </div>
            </div>

       


    </div>
</div>
