<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <img ng-src="" alt="..." class="img-thumbnail img-responsive image-about" width="300">

              <!--   <div class="form-group" class="">
                    <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="showUserInformation()">Edit Image</button>
                    <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="showBookInformation()">Edit Information</button>
                </div> -->
            </div>

            <div class="col-md-offset-1 col-md-4 breadcrumbs">
                <ol class="breadcrumb">
                    <li><a ng-click="showUserInformation1()">User Information</a>
                    </li>
                    <li><a ng-click="showBookInformation1()">Books Information</a>
                    </li>

                </ol>
            </div>


            <div ng-show="showUserInformation">
                <div class="col-md-offset-1 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" ng-model="test" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" ng-model="test" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" ng-model="test" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" ng-model="test" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone Number" ng-model="test" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Country" ng-model="test">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="State" ng-model="test.state">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City" ng-model="test.city">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address 1" ng-model="test.address_1">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address 2" ng-model="test.address_2">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zip Code" ng-model="test.zip">
                    </div>
                    <div class="form-group">
                        <input type="url" class="form-control" placeholder="Facebook" ng-model="test.facebook_url">
                    </div>
                    <div class="form-group">
                        <input type="url" class="form-control" placeholder="Twitter" ng-model="test.twitter_url">
                    </div>
                    <div class="form-group">
                        <input type="url" class="form-control" placeholder="Google ID" ng-model="test.google_url">
                    </div>

                </div>
            </div>

            <div ng-show="showBookInformation">
                <div class="col-md-offset-1 col-md-6">
                    <form role="form" ng-submit="" name="bookForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="book_title" placeholder="Title" ng-model="test.title" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="book_isbn_10" placeholder="ISBN 10" ng-model="test.isbn_10" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="book_isbn_13" placeholder="ISBN 13" ng-model="test.isbn_13" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="book_author" placeholder="Author" ng-model="test.author" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="book_publisher" placeholder="Publisher" ng-model="test.publisher" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="book_edition" placeholder="Edition" ng-model="test.edition" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="testnewBookForm.category" id="book_category" required>
                                <option value="accounting">Accounting</option>
                                <option value="architecture">Architecture</option>
                                <option value="art">Art</option>
                                <option value="biology">Biology</option>
                                <option value="business_administration">Business Administration</option>
                                <option value="computer_science">Computer Science</option>
                                <option value="design">Design</option>
                                <option value="engineering">Engineering</option>
                                <option value="english">English</option>
                                <option value="french">French</option>
                                <option value="finance">Finance</option>
                                <option value="history">History</option>
                                <option value="marketing">Marketing</option>
                                <option value="mathematics">Mathematics</option>
                                <option value="medical">Medical</option>
                                <option value="philosophy">Philosophy</option>
                                <option value="psychology">Psychology</option>
                                <option value="spanish">Spanish</option>
                                <option value="social_science">Social Science</option>
                                <option value="travel">Travel</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
