<section class="profile-subheader">
    <div class="user-profile">
        <div class="setting-background-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-6 info-top" ng-show="UserInformation">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" ng-model="information.username" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" ng-model="information.email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name" ng-model="information.first_name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name" ng-model="information.last_name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Address 1" ng-minlength="6" ng-model="information.address1" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Address 2" ng-minlength="6" ng-model="information.address2" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Phone Number" ng-model="information.phone" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Title" ng-model="information.title" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group" class="signup-buttons">
                                    <button type="submit" class="btn btn-info btn-lg btn-block" ng-disabled="isSignUp">Save Changes!</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-offset-6 info-top" ng-show="BookInformation">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="{{resultsB.title}}" ng-model="Binformation.username" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="ISBN 10" ng-model="information.email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="ISBN 13" ng-model="information.first_name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Author" ng-model="information.last_name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Publisher" ng-minlength="6" ng-model="information.address1" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Edition" ng-minlength="6" ng-model="information.address2" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Price" ng-model="information.phone" required>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" ng-model="testnewBookForm.category" id="book_category" required>
                                        <option value="accounting">Accounting</option>
                                        <option value="architecture">Architecture</option>
                                        <option value="art">Art</option>
                                        <option value="biology">Biology</option>
                                        <option value="business_administration">Business Administration</option>
                                        <option value="computer_science">Computer Science</option>
                                        <option value="design">Design</option>
                                        <option value="engineering">Engineering</option>
                                        <option value="english">English</option>
                                        <option value="french">French</option>
                                        <option value="finance">Finance</option>
                                        <option value="history">History</option>
                                        <option value="marketing">Marketing</option>
                                        <option value="mathematics">Mathematics</option>
                                        <option value="medical">Medical</option>
                                        <option value="philosophy">Philosophy</option>
                                        <option value="psychology">Psychology</option>
                                        <option value="spanish">Spanish</option>
                                        <option value="social_science">Social Science</option>
                                        <option value="travel">Travel</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group" class="signup-buttons">
                                    <button type="submit" class="btn btn-info btn-lg btn-block" ng-disabled="isSignUp">Save Changes!</button>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- <div class="col-md-offset-1 col-md-4 breadcrumbs">
    <ol class="breadcrumb">
        <li><a ng-click="showUserInformation()">User Information</a>
        </li>
        <li><a ng-click="showBookInformation()">Books Information</a>
        </li>

    </ol>
</div> -->

<!-- <div ng-show="UserInformation">
    <div class="col-md-offset-1 col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" ng-model="information.username" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="information.email" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" ng-model="information.firstname" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="information.lastname" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Phone Number" ng-model="information.phonenumber" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Country" ng-model="information.country">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="State" ng-model="information.state">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="City" ng-model="information.city">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Address 1" ng-model="information.address1">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Address 2" ng-model="information.address2">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Zip Code" ng-model="information.zip">
        </div>
        <div class="form-group">
            <input type="url" class="form-control" placeholder="Facebook" ng-model="information.facebook">
        </div>
        <div class="form-group">
            <input type="url" class="form-control" placeholder="Twitter" ng-model="information.twitter">
        </div>
        <div class="form-group">
            <input type="url" class="form-control" placeholder="Google ID" ng-model="information.google">
        </div>

    </div>
</div> -->

 <!--  <div ng-show="BookInformation">
    <div class="col-md-offset-1 col-md-6">
        <form role="form" ng-submit="" name="bookForm">
            <div class="form-group">
                <input type="text" class="form-control" id="book_title" placeholder="Title" ng-model="test.title" required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="book_isbn_10" placeholder="ISBN 10" ng-model="test.isbn_10" required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="book_isbn_13" placeholder="ISBN 13" ng-model="test.isbn_13" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="book_author" placeholder="Author" ng-model="test.author" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="book_publisher" placeholder="Publisher" ng-model="test.publisher" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="book_edition" placeholder="Edition" ng-model="test.edition" required>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="testnewBookForm.category" id="book_category" required>
                    <option value="accounting">Accounting</option>
                    <option value="architecture">Architecture</option>
                    <option value="art">Art</option>
                    <option value="biology">Biology</option>
                    <option value="business_administration">Business Administration</option>
                    <option value="computer_science">Computer Science</option>
                    <option value="design">Design</option>
                    <option value="engineering">Engineering</option>
                    <option value="english">English</option>
                    <option value="french">French</option>
                    <option value="finance">Finance</option>
                    <option value="history">History</option>
                    <option value="marketing">Marketing</option>
                    <option value="mathematics">Mathematics</option>
                    <option value="medical">Medical</option>
                    <option value="philosophy">Philosophy</option>
                    <option value="psychology">Psychology</option>
                    <option value="spanish">Spanish</option>
                    <option value="social_science">Social Science</option>
                    <option value="travel">Travel</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </form>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="sidebar">
                    <a id="settings-personal" class="side-links col-md-12 active" ng-click="showPersonalInformation()">
                        Personal Settings
                    </a>
                    <a id="settings-offers" class="side-links col-md-12" ng-click="showOffersInformation()">
                        Offers
                    </a>
                </div>
            </div>

            <div class="col-md-9">
                <div ng-show="tabs.showUserInformation">
                    <div class="settings-header">
                        <div class="col-md-3">
                            <div class="settings-sections">
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="text-center">
                                Personal Settings
                            </h1>
                        </div>
                        <div class="col-md-3">
                            <div class="settings-sections">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="settings-personal-all">
                        <div class="col-md-3 form-shared-space">
                            <div class="form-group">
                                <p>
                                    <label for="settings-profile-picture">
                                        Profile Picture
                                    </label>
                                </p>
                                <img id="settings-profile-picture"ng-src="" alt="..." class="img-thumbnail img-responsive" width="145">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="settings-first-name">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" ng-model="test" required>
                            </div>
                            <div class="form-group">
                                <label for="settings-last-name">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="test" required>
                            </div>
                            <div class="form-group">
                                <label for="settings-phone-number">Phone Number</label>
                                <input type="number" class="form-control" placeholder="Phone Number" ng-model="test" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-username">Username</label>
                                    <input id="settings-username" type="text" class="form-control" placeholder="Username" ng-model="test" required>
                                </div>
                            </div>
                            <div class="col-md-6 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-email">Email</label>
                                    <input id="settings-email" type="email" class="form-control" placeholder="Email" ng-model="test" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-country">Country</label>
                                    <input type="text" class="form-control" placeholder="Country" ng-model="test">
                                </div>
                            </div>
                            <div class="col-md-3 form-shared-space">                        
                                <div class="form-group">
                                    <label for="settings-state">State</label>
                                    <input type="text" class="form-control" placeholder="State" ng-model="test.state">
                                </div>
                            </div>
                            <div class="col-md-3 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-city">City</label>
                                    <input type="text" class="form-control" placeholder="City" ng-model="test.city">
                                </div>
                            </div>
                            <div class="col-md-3 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-zip-code">Zip</label>
                                    <input type="text" class="form-control" placeholder="Zip Code" ng-model="test.zip">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="settings-address-1">Address (Line 1)</label>
                                <input type="text" class="form-control" placeholder="Address 1" ng-model="test.address_1">
                            </div>
                            <div class="form-group">
                                <label for="settings-address-2">Address (Line 2)</label>
                                <input type="text" class="form-control" placeholder="Address 2" ng-model="test.address_2">
                            </div>
                            <div class="form-group">
                                <label for="settings-facebook">Facebook</label>
                                <input type="url" class="form-control" placeholder="Facebook" ng-model="test.facebook_url">
                            </div>
                            <div class="form-group">
                                <label for="settings-twitter">Twitter</label>
                                <input type="url" class="form-control" placeholder="Twitter" ng-model="test.twitter_url">
                            </div>
                            <div class="form-group">
                                <label for="settings-google-plus">Google +</label>
                                <input type="url" class="form-control" placeholder="Google ID" ng-model="test.google_url">
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="tabs.editOffer">
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-center">
                            Edit Offer
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="settings-offers">
                            <form role="form" ng-submit="" name="bookForm">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="settings-description">Description</label>
                                        <textarea id="settings-description" class="form-control" placeholder="Description" ng-model="offerEdit.description" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="settings-condition">Condition</label>
                                    <select id="settings-condition" class="form-control" ng-model="offerEdit.condition">
                                        <option value="new">New</option>
                                        <option value="used">Used</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="settings-price">Price</label>
                                        <input id="settings-price" class="form-control" type="text" placeholder="Price" ng-model="offerEdit.price">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="settings-quantity">Quantity</label>
                                        <input id="settings-quantity" class="form-control" type="text" placeholder="Quantity" ng-model="offerEdit.quantity">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <center>
                            <button class="btn btn-success btn-lg">Submit</button>
                        </center>
                    </div>
                </div>
                <div ng-show="tabs.showOffers">
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-center">
                            Offers
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="settings-offers-all">
                        <span ng-repeat="uo in userOffers.results">
                            <li class="col-md-6 panel-bottom-space">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <a href="#/book-profile" ng-click="goToBook(uo.book)">
                                            <img src="http://placehold.it/400x200" alt="..." height="191" width="350" />
                                        </a>
                                        <div>
                                            <h3>
                                                <a href="#/book-profile" ng-click="goToBook(uo.book)">
                                                    {{uo.metadata.book.title}}
                                                </a>
                                            </h3>
                                            <h4>{{uo.metadata.book.author}}</h4>
                                            <span class="lighter-text">
                                                <p>ISBN 10: {{uo.metadata.book.isbn_10}}</p>
                                                <p>ISBN 13: {{uo.metadata.book.isbn_13}}</p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="panel-footer" id="footer-panel-with-button">
                                        <div class="offer-footer-top-space">
                                            Price: 
                                            <span class="label label-with-background">
                                                ${{uo.price}}
                                            </span>
                                            <span>
                                                <button class="btn btn-with-background pull-right footer-button" ng-click="showEditOfferForm(uo.id)">
                                                    Edit
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
