<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="sidebar">
                    <a id="settings-personal" class="side-links col-md-12 active" ng-click="showPersonalInformation()">
                        Personal Settings
                    </a>
                    <a id="settings-offers" class="side-links col-md-12" ng-click="showOffersInformation()">
                        Offers
                    </a>
                </div>
            </div>

            <div class="col-md-9">
                <div ng-show="tabs.showUserInformation">
                    <div class="settings-header">
                        <div class="col-md-3">
                            <div class="settings-sections">
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="text-center">
                                Personal Settings
                            </h1>
                        </div>
                        <div class="col-md-3">
                            <div class="settings-sections">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="settings-personal-all">
                        <div class="col-md-3 form-shared-space">
                            <div class="form-group">
                                <p>
                                    <label for="settings-profile-picture">
                                        Profile Picture
                                    </label>
                                </p>
                                <img id="settings-profile-picture"ng-src="" alt="..." class="img-thumbnail img-responsive" width="145">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="settings-first-name">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" ng-model="userData.first_name" required>
                            </div>
                            <div class="form-group">
                                <label for="settings-last-name">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="userData.last_name" required>
                            </div>
                            <div class="form-group">
                                <label for="settings-phone-number">Phone Number</label>
                                <input type="number" class="form-control" placeholder="Phone Number" ng-model="userData.phone" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-username">Username</label>
                                    <input id="settings-username" type="text" class="form-control" placeholder="Username" ng-model="userData.username" required ng-disabled="disabledFields">
                                </div>
                            </div>
                            <div class="col-md-6 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-email">Email</label>
                                    <input id="settings-email" type="email" class="form-control" placeholder="Email" ng-model="userData.email" required ng-disabled="disabledFields">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-country">Country</label>
                                    <input type="text" class="form-control" placeholder="Country" ng-model="userData.country">
                                </div>
                            </div>
                            <div class="col-md-3 form-shared-space">                        
                                <div class="form-group">
                                    <label for="settings-state">State</label>
                                    <input type="text" class="form-control" placeholder="State" ng-model="userData.state">
                                </div>
                            </div>
                            <div class="col-md-3 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-city">City</label>
                                    <input type="text" class="form-control" placeholder="City" ng-model="userData.city">
                                </div>
                            </div>
                            <div class="col-md-3 form-shared-space">
                                <div class="form-group">
                                    <label for="settings-zip-code">Zip</label>
                                    <input type="text" class="form-control" placeholder="Zip Code" ng-model="userData.zip">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="settings-address-1">Address (Line 1)</label>
                                <input type="text" class="form-control" placeholder="Address 1" ng-model="userData.address_1">
                            </div>
                            <div class="form-group">
                                <label for="settings-address-2">Address (Line 2)</label>
                                <input type="text" class="form-control" placeholder="Address 2" ng-model="userData.address_2">
                            </div>
                            <div class="form-group">
                                <label for="settings-facebook">Facebook</label>
                                <input type="url" class="form-control" placeholder="Facebook" ng-model="userData.facebook_url">
                            </div>
                            <div class="form-group">
                                <label for="settings-twitter">Twitter</label>
                                <input type="url" class="form-control" placeholder="Twitter" ng-model="userData.twitter_url">
                            </div>
                            <div class="form-group">
                                <label for="settings-google-plus">Google +</label>
                                <input type="url" class="form-control" placeholder="Google ID" ng-model="userDatas.google_url">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <center>
                                <button class="btn btn-success btn-lg" ng-click="savePersonalChanges()">
                                    Save Changes
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
                <div ng-show="tabs.editOffer">
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-center">
                            Edit Offer
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="settings-offers">
                            <form role="form" ng-submit="" name="bookForm">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="settings-description">Description</label>
                                        <textarea id="settings-description" class="form-control" placeholder="Description" ng-model="offerEdit.description" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="settings-condition">Condition</label>
                                    <select id="settings-condition" class="form-control" ng-model="offerEdit.condition">
                                        <option value="new">New</option>
                                        <option value="used">Used</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="settings-price">Price</label>
                                        <input id="settings-price" class="form-control" type="text" placeholder="Price" ng-model="offerEdit.price">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="settings-quantity">Quantity</label>
                                        <input id="settings-quantity" class="form-control" type="text" placeholder="Quantity" ng-model="offerEdit.quantity">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <center>
                            <button class="btn btn-success btn-lg">Save Changes</button>
                        </center>
                    </div>
                </div>
                <div ng-show="tabs.showOffers">
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-center">
                            Offers
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <div class="settings-offers-sections">
                            <hr>
                        </div>
                    </div>
                    <div class="settings-offers-all">
                        <span ng-repeat="uo in userOffers.results">
                            <li class="col-md-6 panel-bottom-space">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <a href="/">
                                            <span class="label label-success pull-right image-condition-label">
                                                {{uo.condition}}
                                            </span>
                                            <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />
                                        </a>
                                        <div>
                                            <h3>
                                                <a href="#/book-profile" ng-click="goToBookInfo(uo.book)">
                                                    {{uo.metadata.book.title}}
                                                </a>
                                            </h3>
                                            <h4>{{uo.metadata.book.author}}</h4>
                                            <span class="lighter-text">
                                                <p>ISBN 10: {{uo.metadata.book.isbn_10}}</p>
                                                <p>ISBN 13: {{uo.metadata.book.isbn_13}}</p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="panel-footer" id="footer-panel-with-button">
                                        <div class="offer-footer-top-space">
                                            Price: 
                                            <span class="label label-with-background">
                                                ${{uo.price}}
                                            </span>
                                            <span>
                                                <button class="btn btn-with-background pull-right footer-button" ng-click="showEditOfferForm(uo.id)">
                                                    Edit
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
