<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10 col-md-offset-1">
                <form role="form" ng-submit="submit()">
                    <div ng-show="tabs.showBasicForm">
                        <div class="col-md-12">
                            <img src="../images/bookhub-b.png" class="header-image" alt="">
                            <h1 class="image-subheader-text text-center">Start selling today!</h1>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="form-group">
                                    <label for="signup-username">Username</label>
                                    <input id="signup-username" type="text" class="form-control" placeholder="Username" ng-disabled="isSignUp" ng-model="signUpForm.username" required>
                                </div>
                                <div class="form-group">
                                    <label for="signup-email">Email</label>
                                    <input id="signup-email" type="email" class="form-control" placeholder="Email" ng-disabled="isSignUp" ng-model="signUpForm.email" required>
                                </div>
                                <div class="form-group">
                                    <label for="signup-password">Password</label>
                                    <input id="signup-password" type="password" class="form-control" placeholder="Password" ng-minlength="6" ng-disabled="isSignUp" ng-model="signUpForm.password" required>
                                </div>
                                <div class="form-group">
                                    <label for="signup-password-confirm">Confirm Password</label>
                                    <input id="signup-password-confirm" type="password" class="form-control" placeholder="Confirm Password" ng-minlength="6" ng-disabled="isSignUp" ng-model="retypedPassword" required>
                                </div>
                                <div class="col-md-6 form-shared-space">
                                    <div class="form-group">
                                        <label for="signup-first-name">First Name</label>
                                        <input id="signup-first-name" type="text" class="form-control" placeholder="First Name" ng-disabled="isSignUp" ng-model="signUpForm.first_name" required>
                                    </div>
                                </div>
                                <div class="col-md-6 form-shared-space">
                                    <div class="form-group">
                                        <label for="signup-last-name">Last Name</label>
                                        <input id="signup-last-name" type="text" class="form-control" placeholder="Last Name" ng-disabled="isSignUp" ng-model="signUpForm.last_name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signup-phone-number">Phone Number</label>
                                    <input id="signup-phone-number" type="number" class="form-control" placeholder="Phone Number" ng-disabled="isSignUp" ng-model="signUpForm.phone" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group" class="signup-buttons">
                                    <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="isSignUp">Finish Now!</button>
                                </div>
                                <div class="alert alert-success" ng-show="isSignUp">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    <strong>Success!</strong> You Have Been Signed Up!
                                </div>
                                <div class="alert alert-danger" ng-show="signUpError">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    <strong>Error!</strong> Account Already Exists!
                                </div>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
