<section class="profile-subheader"> 
    <div class="user-profile">    
        <div class="user-profile-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <img ng-src="{{profileData.gravatar_url}}" alt="..." class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h1 class="user-profile">{{profileData.first_name}} {{profileData.last_name}}</h1>
                            <h3 class="user-profile lighter-text">{{profileData.username}}</h3>
                            <h5 class="user-profile">{{profileData.description}}</h5>
                        </div>
                        <div class="col-md-1">
                            <div class="col-md-12 user-social">
                                <span ng-if="profileData.facebook_url">
                                    <a ng-href="{{profileData.facebook_url}}" target="_blank">
                                        <i class="fa fa-facebook fa-3x user-social-space"></i>
                                    </a>
                                </span>
                                <span ng-if="profileData.twitter_url">
                                    <a ng-href="{{profileData.facebook_url}}">
                                        <i class="fa fa-twitter fa-3x user-social-space"></i>
                                    </a>
                                </span>
                                <span ng-if="profileData.google_url">
                                    <a ng-href="{{profileData.google_url}}">
                                        <i class="fa fa-google-plus fa-3x user-social-space"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="user-content-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="side-navbar">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-info btn-lg  btn-block" ng-click="showReviewForm()">
                                Review {{profileData.username}}
                            </button>
                            <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="showReportForm()">
                                Report to BooksHub
                            </button>
                        </div>
                    </div>
                </section>

                <div class="col-md-9">
                    <section class="user-offers">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showReview()">
                                Reviews
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showNew()">
                                New
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showUsed()">
                                Used
                            </button>
                        </div>
                    </section>
                    
                    <!-- Reviews -->
                    <section class="user-reviews">
                        <div ng-show="tabs.showReview">
                            <div class="specific-profile-review-space">
                                <div class="col-md-4 user-sections">
                                    <hr>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h1>Reviews</h1>
                                </div>
                                <div class="col-md-4 user-sections">
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <span ng-repeat="pr in profileReviews.results">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" id="comment-panel">
                                            <img ng-src="{{pr.metadata.created_by_gravatar_url}}" class="img-rounded small-picture">
                                            <span>
                                                Reviewed by {{pr.metadata.created_by_name}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <p>{{pr.text}}</p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </section>

                    <!-- New -->
                    <section class="new-books">
                        <div ng-show="tabs.showNew">
                            <div class="specific-profile-book-space">
                                <div class="col-md-4 user-sections">
                                    <hr>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h1>New Books</h1>
                                </div>
                                <div class="col-md-4 user-sections">
                                    <hr>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="requested-books">
                                    <ul class="list-unstyled" ng-repeat="po in profileOffers.results">
                                        <span ng-if="po.condition == 'new'">
                                            <li class="col-md-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <a href="/">
                                                            <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />
                                                        </a>
                                                        <div>
                                                            <h3>
                                                            <a href="#/book-profile" ng-click="goToBookInfo(po.book)">
                                                                {{po.metadata.book.title}}
                                                            </a>
                                                            </h3>
                                                            <span class="lighter-text">
                                                                <p>ISBN 10: {{po.metadata.book.isbn_10}}</p>
                                                                <p>ISBN 13: {{po.metadata.book.isbn_13}}</p>
                                                            </span>
                                                            <h4>{{po.metadata.book.author}}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer" id="footer-panel-with-button">
                                                        <div class="offer-footer-top-space">
                                                            Price: 
                                                            <span class="label label-with-background">
                                                                ${{po.price}}
                                                            </span>
                                                            <span>
                                                                <button class="btn btn-with-background pull-right">
                                                                    Add to Cart
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Used -->
                    <section class="used-books">
                        <div ng-show="tabs.showUsed">
                            <div class="specific-profile-book-space">
                                <div class="col-md-4 user-sections">
                                    <hr>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h1>Used Books</h1>
                                </div>
                                <div class="col-md-4 user-sections">
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="requested-books">
                                    <ul class="list-unstyled" ng-repeat="po in profileOffers.results">
                                        <span ng-if="po.condition == 'used'">
                                            <li class="col-md-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <a href="/">
                                                            <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />
                                                        </a>
                                                        <div>
                                                            <h3>
                                                                <a href="#/book-profile" ng-click="goToBookInfo(po.book)">
                                                                    {{po.metadata.book.title}}
                                                                </a>
                                                            </h3>
                                                            <span class="lighter-text">
                                                                <p>ISBN 10: {{po.metadata.book.isbn_10}}</p>
                                                                <p>ISBN 13: {{po.metadata.book.isbn_13}}</p>
                                                            </span>
                                                            <h4>{{po.metadata.book.author}}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer" id="footer-panel-with-button">
                                                        <div class="offer-footer-top-space">
                                                            Price: 
                                                            <span class="label label-with-background">
                                                                ${{po.price}}
                                                            </span>
                                                            <span>
                                                                <button class="btn btn-with-background pull-right" ng-click="addToCart(po.id)">
                                                                    Add to Cart
                                                                </button>
                                                            </span>
                                                            <span>
                                                                <input type="number" max="{{po.quantity}}" min="0" class="offer-footer-quantity book-display-footer pull-right" ng-model="addOfferData.quantity">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Review -->
                    <section class="user-reviews-top-space">
                        <div class="col-md-12" ng-show="tabs.showReviewForm">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <h1>Review</h1>
                            </div>
                            <div class="thumbnail">
                                <form class="form-horizontal" role="form" ng-submit="submitUserReview()">
                                    <div class="form-group">
                                        <div class="col-md-10 col-md-offset-1">
                                            <input type="number" class="form-control" ng-model="userReviewData.score" placeholder="Rate">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10 col-md-offset-1">
                                                <textarea class="form-control" ng-model="userReviewData.text" rows="6" placeholder="How was your expirience with this seller?"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-md-offset-4">
                                            <center>
                                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                                                <button type="clear" class="btn btn-info btn-lg">Clear</button>
                                            </center>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>

                    <!-- Report -->
                    <section class="user-report">
                        <div class="col-md-12" ng-show="tabs.showReportForm">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <h1>Report</h1>
                            </div>
                            <div class="thumbnail">
                                <form class="form-horizontal" role="form" ng-submit="submitUserReport()">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="form-group">
                                            <select name="user-report" class="form-control" ng-model="userReportData.reason">
                                                <option value="1">This user never sent the book.</option>
                                                <option value="2">The item was not as described.</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4 col-md-offset-4">
                                            <center>
                                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                                                <button type="clear" class="btn btn-info btn-lg">Clear</button>
                                            </center>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
