<section class="profile-subheader"> 
    <div class="user-profile">    
        <div class="user-profile-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <img ng-src="{{currentUserInformation.gravatar_url}}" alt="..." class="img-thumbnail img-responsive" width="145">
                        </div>
                        <div class="col-md-8">
                            <h1 class="user-profile">{{currentUserInformation.first_name}} {{currentUserInformation.last_name}}</h1>
                            <h3 class="user-profile lighter-text">{{currentUserInformation.username}}</h3>
                            <h5 class="user-profile">{{currentUserInformation.description}}</h5>
                        </div>
                        <div class="col-md-1">
                            <div class="col-md-12 user-social">
                                <span ng-if="currentUserInformation.facebook_url">
                                    <a ng-href="{{currentUserInformation.facebook_url}}" target="_blank">
                                        <i class="fa fa-facebook fa-3x user-social-space"></i>
                                    </a>
                                </span>
                                <span ng-if="currentUserInformation.twitter_url">
                                    <a ng-href="{{currentUserInformation.twitter_url}}" target="_blank">
                                        <i class="fa fa-twitter fa-3x user-social-space"></i>
                                    </a>
                                </span>
                                <span ng-if="currentUserInformation.google_url">
                                    <a ng-href="{{currentUserInformation.google_url}}" target="_blank">
                                        <i class="fa fa-google-plus fa-3x user-social-space"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="user-content-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="side-navbar">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-info btn-lg  btn-block" ng-click="showReviews()">
                                Reviews
                            </button>
                            <button type="button" class="btn btn-info btn-lg btn btn-block" ng-click="showOffers()">
                                Offers
                            </button>
                        </div>
                    </div>
                </section>

                <div class="col-md-9">
                    <!-- Reviews -->
                    <section class="user-reviews">
                        <div ng-show="tabs.showReview">
                            <div class="col-md-4 user-sections">
                                <hr>
                            </div>
                            <div class="col-md-4 text-center">
                                <h1>Reviews</h1>
                            </div>
                            <div class="col-md-4 user-sections">
                                <hr>
                            </div>
                            <div class="user-reviews-top-space">
                                <span ng-repeat="r in userReviews.results">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" id="comment-panel">
                                                <img ng-src="{{r.metadata.created_by_gravatar_url}}" class="img-rounded small-picture">
                                                <span>
                                                    Reviewed by 
                                                    <a href="#/specific-profile" class="custom-link-white" ng-click="goToOtherUser(r.created_by)">
                                                        {{r.metadata.created_by_name}}
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <p>{{r.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </section>

                    <!-- Offers -->
                    <section class="offers">
                        <div ng-show="tabs.showAllOffers">
                            <div ng-show="tabs.offersNavbar">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showNew()">
                                        New
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-info btn-lg btn-block" ng-click="showUsed()">
                                        Used
                                    </button>
                                </div>
                            </div>

                            <section class="user-offers-top-space">
                                <div ng-show="tabs.showNew">
                                    <div class="col-md-4 user-sections">
                                        <hr>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <h1>New Books</h1>
                                    </div>
                                    <div class="col-md-4 user-sections">
                                        <hr>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="requested-books">
                                            <ul class="list-unstyled">
                                                <span ng-repeat="o in offers.results" ng-if="o.condition == 'new'">
                                                    <li class="col-md-6">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <a href="#/book-profile" ng-click="goToBook(o.book)">
                                                                    <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />
                                                                </a>
                                                                <div>
                                                                    <h3>
                                                                        <a href="#/book-profile" ng-click="goToBook(o.book)">
                                                                            {{o.metadata.book.title}}
                                                                        </a>
                                                                    </h3>
                                                                    <h4>{{o.metadata.book.author}}</h4>
                                                                    <span class="lighter-text">
                                                                        <p>ISBN 10: {{o.metadata.book.isbn_10}}</p>
                                                                        <p>ISBN 13: {{o.metadata.book.isbn_13}}</p>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer" id="comment-panel">
                                                                Price: 
                                                                <span class="label label-with-background">
                                                                    ${{o.price}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- Used -->
                            <section class="used-books">
                                <div ng-show="tabs.showUsed">
                                    <div class="col-md-4 user-sections">
                                        <hr>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <h1>Used Books</h1>
                                    </div>
                                    <div class="col-md-4 user-sections">
                                        <hr>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="requested-books">
                                            <ul class="list-unstyled" ng-repeat="o in offers.results">
                                                <span ng-if="o.condition == 'used'">
                                                    <li class="col-md-6">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <a href="#/book-profile" ng-click="goToBook(o.book)">
                                                                    <img src="http://placehold.it/400x200" alt="..." height="191" width="340" />
                                                                </a>
                                                                <div>
                                                                    <h3>
                                                                        <a href="#/book-profile" ng-click="goToBook(o.book)">
                                                                            {{o.metadata.book.title}}
                                                                        </a>
                                                                    </h3>
                                                                    <h4>{{o.metadata.book.author}}</h4>
                                                                    <span class="lighter-text">
                                                                        <p>ISBN 10: {{o.metadata.book.isbn_10}}</p>
                                                                        <p>ISBN 13: {{o.metadata.book.isbn_13}}</p>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer" id="comment-panel">
                                                                Price: 
                                                                <span class="label label-with-background">
                                                                    ${{o.price}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>


                    <!-- Contact -->
                    <section class="user-contact">
                        <div class="col-md-12" ng-show="tabs.showContactForm">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <h1>Contact</h1>
                            </div>
                            <div class="thumbnail">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">

                                        <div class="col-sm-10 col-md-offset-1">
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-sm-10 col-md-offset-1">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="12" placeholder="Please, Enter Information Here"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4 col-md-offset-4">
                                            <center>
                                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                                                <button type="clear" class="btn btn-info btn-lg">Clear</button>
                                            </center>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
